@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* 1 */
body {
    background: fixed #b4b4b4 url(../img/pink-flowers.webp) center/cover no-repeat;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 26px;
}

/* 10 */
.wrapper {
    width: 89%;
    margin: 0 auto;
    background: #fff;
    padding: 0 3%;
}

/* 10 */
.header__heading, 
/* 10 */
.article__heading,
/* 20 */
.nav__item-mod .nav__link-mod,
/* 20 */
.nav__link:hover {
    color: #a11414;
}

/* 10 */
.header__heading  {
    padding-top: 96px;
    margin-bottom: 46px;
    color: #a11414;
    font-size: 2rem;
}

/* 10 */
.header__heading--spec {
    font-weight: 700;
    text-transform: uppercase;
}

/* 10 */
.header__img-wrap {
    padding: 14px 1.03%;
    border: 1px solid #000;
    border-radius: 2px;
    margin-bottom: 57px;
}

/* 11 */
.header__img-wrap img {
    width: 100%;
}

/* 10 */
.section--flx {
    display: flex;
}

/* 10 */
.article {
    margin-right: 0.24%;
}

/* 10 */
.article__heading {
    color: #a11414;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

/* 10 */
.article__item {
    color: #1d1b1b;
    font-weight: 400;
    text-indent: 40px;
    word-wrap: break-word;
    margin-bottom: 31px;
}
/* 10 */
.article__item {
    padding-top: 5px;
}

/* 10 */
.nav-wrap {
    width: 13%;
    border-radius: 2px 15px;
    background: #d7d7d7;
    padding: 29px 2%;
    font-family: Arial, Helvetica, sans-serif;
    flex-shrink: 0;
    margin-bottom: 29px;
}

/* 10 */
.nav-heading {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

/* 10 */
.nav__item {
    color: #000;
    text-decoration: none;
}

/* 20 */
.nav__item-mod .nav__link-mod {
    color: #a11414;
    font-weight: 700;
    text-decoration: underline;
}

/* 20 */
.nav__link:hover {
    font-weight: 700;
    color: #a11414;
    text-decoration: underline;
}

/* 10 */
.article__heading--mod {
    color: #a11414;
    font-size: 1.5rem;
    font-weight: 700;
    word-wrap: break-word;
}

/* 10 */
.article__item{
    olor: #1d1b1b;
    font-size: 1rem;
    font-weight: 400;
    word-wrap: break-word;
}

/* 10 */
.artical__text--spec {
    text-transform: uppercase;
    margin-top: 15px;
}

/* 10 */
.artical__text--special {
    margin-top: 15px;
}

/* 10 */
.artical__text--mod {
    color: #a11414;
}

/* 10 */
.artical__text--add {
    text-decoration: line-through;
}

/* 10 */
.artical_item {
    text-indent: 2em;
    margin-top: 20px;
}



/* 10 */
/* .footer__item {
    background-image: url(../img/back.gif);
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    background-position: top;
    background-size: 60%;
    background-repeat:no-repeat;
    margin-top: 31px;
    padding-bottom: 24px;
} */

/* 10 */
/* .footer__item--spec {
    font-weight: 700;
    color: #403636;
    font-size: 1rem;
    word-wrap: break-word;
} */
.footer__mod {
    width: 78.74%;
    height: 32px;
    background-image: url(../img/back.gif);
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    vertical-align: middle;
    text-align: center;
    line-height: 32px;
    /* text-align: center;
    vertical-align: top;
    background-color: #fff;
    background-position: top;
    background-size: 60%;
    background-repeat:no-repeat;
    margin-top: 31px;
    padding-bottom: 24px;
} */
/* 10 */
.footer__item--spec {
    width: 1.06%;
    font-weight: 700;
    color: #403636;
    font-size: 1rem;
    word-wrap: break-word;
} 

